name: Run Jest Tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./gamified-learning-frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: |
          cd gamified-learning-frontend
          npm install

      - name: Build Next.js
        run: |
          cd gamified-learning-frontend
          npm run build --if-present

      - name: Run Jest tests
        run: |
          cd gamified-learning-frontend
          npm test